<%- include('parts/html-head') %>
<%- include('parts/html-navbar') %>
<table class="table table-striped">
    <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Age</th>
    <th scope="col">ID</th>
  </tr>
</thead>
<tbody>
    <% for(i of sales){ %>
  <tr>
    <td><%= i.name %></td>
    <td><%= i.age %></td>
    <td><%= i.id %></td>
  </tr>
  <%} %>
 
</tbody>

</table>
<%- include('parts/html-script') %>
<%- include('parts/html-foot') %>
